.profile-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.6) 40%,
      rgba(255, 255, 255, 0.15) 100%
    ),
    url("../assets/images/Fondo.jpg");
  background-size: cover;
  filter: blur(2px);
  z-index: 0;
}

.profile-page > * {
  position: relative;
  z-index: 1;
}

.logo-header {
    height: 30px;
    margin: 0;
    cursor: pointer;
    opacity: 0.85;
    &:hover {
        opacity: 1;
        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.6));

    }
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.edit-icon {
  width: 22px;
  height: 22px;
  color: #ffffff;
  transition: color 0.2s ease, transform 0.2s ease;
}

.back-button {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.82);
  background: transparent;
  border: none;
  cursor: pointer;
}

.back-button:hover {
  color: white;
}

.profile-body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 40px 0;
}

.profile-container {
  width: 500px;
  padding: 30px 40px;
}

.profile-title {
  text-align: center;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 26px;
  margin-bottom: 10px;
}

.profile-slogan {
  text-align: center;
  color: #99aeda;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px;
}

.profile-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  background: rgba(255, 255, 255, 0.06);
  padding: 14px 18px;
  border-radius: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.profile-list div {
  display: flex;
  flex-direction: column;
}



.profile-list li:hover {
  background: rgba(255, 255, 255, 0.12);
  transform: scale(1.02);
}

.field-name {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.field-value {
  color: rgba(255, 255, 255, 0.7);
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  font-size: 16px;
}
