.loading-overlay {
    position: fixed;
    inset: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(6px);
    z-index: 9999999999999 !important;

    pointer-events: all;
}

