.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(227, 227, 227, 0.06);
    border-radius: 50px;
    border: 2px solid rgba(174, 153, 213, 0.36);
    padding: 6px 8px;
    box-shadow: inset 2px 6px 10px rgba(17, 6, 48, 0.49),
                inset -2px -6px 10px rgba(223, 223, 225, 0.15),
                0 0 10px rgba(6, 30, 55, 0.68);

    &:hover {
        box-shadow: inset 2px 6px 15px rgba(17, 6, 48, 0.72),
                    inset -2px -6px 15px rgba(223, 223, 225, 0.25),
                    0 0 15px rgba(6, 30, 55, 0.78);
    }

    &:focus-within {
        box-shadow: inset 2px 6px 15px rgba(17, 6, 48, 0.85),
        inset -2px -6px 15px rgba(223, 223, 225, 0.35),
        0 0 20px rgba(6, 30, 55, 0.85);
    }
}

.search-input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    padding: 8px 12px;
}

.search-button {
    margin-left: 6px;
    height: 40px;
    width: 40px;
    position: relative;
}

/* Reutilizamos tu estilo base */
.button-glass-s {
    background: linear-gradient(to bottom, rgba(0, 77, 191, 0.27), rgba(0, 74, 255, 0.24));
    border-radius: 50px;
    box-shadow: inset 4px 4px 10px rgba(39, 19, 97, 0.53), inset -4px -4px 10px rgba(157, 134, 221, 0.47), 0 0 15px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    transition: all 0.05s ease-in-out;
    border: 2px solid rgb(60, 50, 83);
}

.button-glass-s:hover {
    background: linear-gradient(to bottom, rgba(69, 108, 140, 0.27), rgba(25, 87, 246, 0.24));
}

.button-glass-s:focus {
    outline: none;
    box-shadow: inset 4px 4px 10px rgba(39, 19, 97, 0.75), inset -4px -4px 10px rgba(157, 134, 221, 0.32), 0 0 15px rgba(0, 0, 0, 0.68);
    background: linear-gradient(to bottom, rgba(3, 55, 131, 0.27), rgba(2, 46, 156, 0.24));
}

.button-glass-s:active {
    transform: scale(0.96);
}

.button-glass-s::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: inset 2px 2px 1px 0 rgba(136, 135, 135, 0.2), inset -1px -1px 1px 1px rgba(156, 149, 149, 0.19);
}
